<div class="container">

    <h1>Welcome, <%= @current_business.name %></h1><br>
    <%= link_to "Create a New Listing",   new_listing_path %><br>
    <%= link_to "Edit Business Details",   new_listing_path %><br>
    Description: <%= @current_business.description %><br>
    Contact Information: <%= @current_business.address %>, <%= @current_business.state %><br>

</div>