<div class="jumbotron text-center">
  <h1>Welcome, <%= @current_business.name %> Admin</h1><br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <%= link_to "Create a New Listing",   new_listing_path, class: "btn btn btn-primary" %><br/><br/>
    </div>
    <div class="col-md-6 text-center">
      <%= link_to "Edit Business Details",   edit_admin_business_path(@current_business), class: "btn btn btn-primary" %><br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h5>Want to add another owner to your business?</h5>
        </div>
        <div class="panel-body">
          <div class="formfield">
            <%= form_for @user, controller: 'users', action: 'udpate_business_owner' do |form| %>
              <div class="field">
                <%= form.label "Co-Owner Email" %><br>
                <%= form.email_field :email, size: 50 %><br>
              </div><br>
              <div class="actions">
                <%= form.submit 'Add Co-Owner', :class => "btn btn-default" %>
              </div>
            <% end %>
          </div>
        </div><br/>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <strong>Description:</strong> <%= @current_business.description %><br/>
      <strong>Contact Information:</strong> <%= @current_business.address %>, <%= @current_business.state %><br/>
      <strong>Phone Number:</strong> <%= @current_business.phone %><br/>
      <strong>Website:</strong> <%= @current_business.url %><br/>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h2>Your  Job Listings : </h2>
      <%@listings.each do |listing|%>
        <div class="col-md-4">
          <%if listing.active?%>
          <div class="panel panel-default">
          <%else%>
          <div class="panel panel-danger">
          <%end%>
            <div class="panel-heading text center">
              <div class="col-md-7">
                <h4><%=link_to listing.title, listing_path(listing) %></h4>
            </div>
              <div class="col-md-3 text-center"><p>Active</p>
                <td class="text-center">
                  <div class="switch text-center">
                    <%= check_box_tag listing.id, listing.id, listing.active?, checked: ("checked" if listing.active?), onchange: "changeListingStatus(event)" %>
                    <label for="<%= listing.id %>"></label>
                  </div>
                </td>
              </div>
              <tbody>
                <tr>
                  <td class="text-center">
                    <ul class="stack button-group">
                      <li><%= link_to 'Edit', edit_listing_path(listing), class: "button tiny" %></li>
                      <li><%= link_to 'Destroy', admin_listing_path(listing), class: "button tiny", method: :delete, data: { confirm: 'Are you sure?' } %></li><br><br>
                        <li><%=listing.candidacies.pending.count%>  <%= link_to("Pending Applications", "/admin/listings/#{listing.id}/candidacies") %></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>
