 <div id="list_right">
    <div id="box">
      Business Registration
      <% @business="zach" %>
      <%= form_for Business.new do |f| %>
      <%= f.text_field :name, placeholder: 'Business Name', size: "60x60" %></br></br>
      <%= f.text_field :address, placeholder: 'Address', size: "20x30" %></br></br>
      <%= f.text_field :state, placeholder: 'State', size: "20x30" %></br></br>
      <%= f.text_field :description, placeholder: 'Discription', size: "20x30" %></br></br>
      <%= f.number_field :phone, placeholder: 'Phone Number', size: "60x60" %></br></br>
      <%= f.number_field :url, placeholder: 'Website', size: "60x60" %></br></br>
      <%= f.text_field :email, placeholder: 'Email', size: "20x30" %></br></br>

        <button type="submit">Submit</button>

      <% end %>
    </div>
  </div>