  <div class="jumbotron">
    <div class="container">
<%if @current_business == nil%>
    <h2>Sorry, that business does not have an account with EmployMe</h2>
    <h4>Want to =link_to "Sign Up?", new_user_path</h4>
  </div><br/><br/>
<% elsif @current_business.active == false %>
      <h2>Sorry,</h2>
      <h2>This page is under construction.</h2>
      <h3> Check back later!</h3>
    </div><br/><br/>
<% else %>
      <h1><%=@current_business.name%></h1>
      <p><%=@current_business.description%></p><br>
    </div>
    <div class="col-md-12 text-center">
      <%=@current_business.address%>, <%=@current_business.state%> |  <%=@current_business.phone%>  | <a href='http://<%=@current_business.url%>'><%=@current_business.url%></a>
    </div>
  </div>
  <div class="container">
    <h2>Available Jobs</h2>
      <div class="row">
        <% @listings.each do |listing| %>
          <div class="col-md-4">
            <h3><%=listing.title%></h3>
            <p><%=listing.description%></p>
            <p><%= link_to "Add to basket", add_listing_path(listing.id), method: :post, class: "btn btn-default" %><br></p>
          </div>
        <%end%>
      </div>
    <hr>
  </div>
<%end%>


