  <div class="jumbotron text-center">
    <div class="container">
<%if @current_business == nil%>
    <h2>Sorry, that business does not have an account with EmployMe</h2>
    <h4>Want to <button type="button" class="btn btn btn-default" data-toggle="modal" data-target="#RegModal">Sign Up</button> and create a page for them?</h4>
  </div><br/><br/>
<% elsif @current_business.active == false %>
      <h2>Sorry,</h2>
      <h2>This page is under construction.</h2>
      <h3> Check back later!</h3>
    </div><br/><br/>
<% else %>
      <h1><%=@current_business.name%></h1>
      <p><%=@current_business.description%></p><br>
    </div>
    <div class="col-md-12 text-center">
      <%=@current_business.address%>, <%=@current_business.state%> |  <%=@current_business.phone%>  | <a href='http://<%=@current_business.url%>'><%=@current_business.url%></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"><%=listing.title%></h4>
          </div>
          <div class="panel-body format-panel-listings">
            <h4><%= listing.description %></h4>
            <h6>Wage:    $<%= listing.wage%>
              Hours per week:    <%= listing.hours %><br>
              Number of postions open:    <%= listing.number_of_positions %><br>
              Closing date:    <%= listing.end_date %></h6>
              <%= link_to "Add to basket", add_listing_path(listing.id), method: :post, class: "btn btn-default" %><br>
          </div>
        </div>
      </div>
      <%end %>
    </div>
  </div>
<%end%>
