<div class="container">
  <div class="row">
    <%= link_to "Back to Admin Dashboard", admin_path%><br/><br/>
      <div class="formfield">
      <%= form_for([:admin, @business]) do |form| %>
        <div class="field">
          <%= form.label :name %><br>
          <%= form.text_field :name, size: 50 %><br>
          <%= form.label :description %><br>
          <%= form.text_field :description, size: 50%><br>
          <%= form.label :address %><br>
          <%= form.text_field :address, size: 50 %><br>
          <%= form.label :state %><br>
          <%= form.text_field :state, size: 50 %><br>
          <%= form.label :phone %><br>
          <%= form.telephone_field :phone, size: 50 %><br>
          <%= form.label :email %><br>
          <%= form.email_field :email, size: 50 %><br>
          <%= form.label :website %><br>
          <%= form.url_field :url, size: 50 %><br>
        </div>
        <br>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div><br/>
