<div class="row">
  <div class="container">
    <div class="col-md-12 text center">
      <h1><%= @business.name %></h1>
    </div>
    <div class="col-md-12 text center">
      <h4><%= @business.description%></h4>
    </div>
    <div class="large-6 columns"><%= link_to 'Edit this business', edit_admin_business_path(@business) %> | <%= link_to 'Back to all Users', admin_user_path %>  | <%= link_to 'Back to Admin Home', admin_index_path %></div>
  </div>
</div>
