<div class="col-md-12 text-center">
  <div class="jumbotron">
    <h1>Job Basket</h1>
      <h4>To apply to a job in your basket fill out the form and click apply now</h4>
  </div>
</div>

<div class="container">
  <% if session[:cart] %>
    <div class="container">
      <h3>YOUR JOB BASKET CURRENTLY CONTAINS:</h3>
      <br>
      <% @listings.each do |listing| %>
        <p><strong>Company: </strong><%= listing.title %></p>
        <p><strong>Job Description: </strong><%= listing.description %></p>
        <p><strong>Wage: </strong><%= listing.wage %></p>
        <p><strong>Hours: </strong><%= listing.hours %></p>

        <%= form_for @candidacy, controller: "candidacies", action: "create" do |f| %>
          <%= hidden_field_tag(:listing_id, "#{listing.id}") %>
          <%= f.label :letter_to_business %>
          <%= f.text_area :letter_to_business %>
          <%= f.submit %>
        <% end %>
        <br>
      <% end %>
    </div>
  <% else %>
    <p>There are no items in the cart</p>
  <% end %>
</div>

<div style="clear:both;"></div>

