  <!DOCTYPE html>
<html lang="en">
  <div class="container">
    <div class="row">
      <% @listings.each do |listing| %>
      Title:<br><%= listing.title %><br>
      COMPANY ID:<br><%= listing.business_id %><br>
      Description:<br><%= listing.description %><br>
      Wage:<br>$<%= listing.wage %><br>
      Hours per week:<br><%= listing.hours %><br>
      Number of postions open:<br><%= listing.number_of_positions %><br>
      Closing date:<br><%= listing.end_date %><br>
      <br><br>
      <% end %>
    </div>
  </div>

</html>

