<center><h2>Sign up to post a job or apply for one!</h2></center>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= content_tag :h3, error %><br>
  <% end %>
<% end %>
<div id="container">
  <div id="statement_left">
    <div id="box">
      User Registration
      <%= form_for @user do |f| %>
      <%= f.text_field :full_name, placeholder: 'Full Name', size: "60x60" %></br></br>
      <%= f.text_field :user_name, placeholder: 'Username', size: "20x30" %></br></br>
      <%= f.email_field :email, placeholder: 'Email', size: "20x30" %></br></br>
      <%= f.password_field   :password, placeholder: 'Password', size: "20x30" %></br></br>
      <%= f.password_field   :password_comfirmation, placeholder: 'Password Comfirmation', size: "20x30" %></br></br>
      Upload a headshot<br>
      <%= f.file_field :picture , placeholder: 'Picture'%></br></br>
      Upload a resume<br>
      <%= f.file_field :resume , placeholder: 'Resume'%></br></br>
      <div class="actions">
        <%= f.submit "Register" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
