<div class="jumbotron text-center">
  <h1>Welcome to your Dashboard</h1>
</div>

<div class="container">
  <div class="row text-center">
    <img src="<%= @user.picture %>" media='thumbnail' alt="" style="width:150px;height:150px" />
    <h4>Name: <%= @user.full_name %></h4>
    <%if @user.user_name?%>
    <strong>Username:</strong> <%= @user.user_name %><br>
    <%end%>
    <strong>Email:</strong> <%= @user.email %><br><br>
    <div class="container">
      <div class="row">
        <a class="btn btn-primary view-pdf" href="<%= @user.resume %>">View PDF</a>
      </div>
    </div><br><br>
  </div>
</div>

 <div class="row">
  <%if @business.present?%>
    <div class="col-md-6 text-right">
      <%= link_to "#{@business.name} Admin Page", admin_url(subdomain: "#{@business.slug}"), class: "btn btn btn-primary" %><br/><br/>
    </div>
  <%else%>
    <div class="col-md-6 text-right">
     <%= link_to "Create Business", new_business_path, class: "btn btn btn-primary" %><br/><br/>
    </div>
  <%end%>
    <div class="col-md-6">
      <%= link_to "Edit User Details",   edit_user_path(@current_user), class: "btn btn btn-primary" %><br/><br/>
    </div>
  </div>
