<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active">EmployMe</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME",     root_url(subdomain: 'www') %></li>
        <li><%= link_to "ALL JOBS",    "/listings"    %></li>
      </ul>




      <form class="navbar-form navbar-right" role="search">
        <% if current_user == nil %>
        <%= link_to "Register", new_user_path, class: "btn btn-default" %>
        <div class="form-group">
          <input type="text" id="login_info" name="login" value="" placeholder="Email">
          <input type="password" id="login_info" name="password" value="" placeholder="Password">
        </div>
        <%= link_to "Login", login_path, class: "btn btn-default" %>
        <%= link_to cart_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-inbox"></span>
        <span>Job Basket</span>
        <% end %>
        <% else %>

        <form class="navbar-form navbar-right" role="search">
          <%= link_to "Logout", logout_path, method: :delete,  class: "btn btn-default" %>
          <%= link_to cart_path, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-inbox"></span>
          <span>Job Basket</span>
          <% end %>
        </form>
        <a class="navbar-brand navbar-right">Welcome <%= current_user.full_name %></a>
        <div class="media">
          <img src="https://pbs.twimg.com/profile_images/71132632/steve_jobs_normal.jpg" alt="..." style="width:32px;height:32px">
        </div>
        <% end %>
      </form>
    </div>
  </div>
</nav>
<div id="name" style="margin-top:60px"></div>
